{% extends 'base/main.html' %}
{% load static %}

{% block meta %}
<meta name="google-site-verification" content="s9k7wYBCN5_udWa2rERRVnBqHF2Hyi7Z5P81rNNYhtc" />
<meta name="description" content="This websites represents some statistical and ranking data across the country Bangladesh. Like the most beautiful girl in Bangladesh, the smartest girl in Bangladesh, the smartest boy in Bangladesh etc.">
<meta name='keywords' content="smartest boy, smartest girl, most idiotic boy, most beautiful girl, smartest girl in Bangladesh, smartest boy in Banglesh, my love">
{% endblock meta %}

{% block navli %}
  <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
  <li class="nav-item"><a href="blog.html" class="nav-link">Articles</a></li>
  <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
  <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
{% endblock navli %}


{% block content %}
  <section class="hero-wrap py-md-4">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters justify-content-center slider-text align-items-center" data-scrollax-parent="true">
        <div class="col-md-10 ftco-animate py-5">
          <h1 class="text-center">M<span>os</span>T</h1>
          <div class="row pb-md-5">
            <div class="col-md-8">
              <h2>Hello! This is Zubayer Rahaman</h2>
              <p>This is a blog where generally you will see some rankings based on Bangladesh. This website
                will rank first in google search Engine In Sha Allah. So what are ya waiting for! Subscribe and turn on 
                notifications now to get latest update!
              </p>
            </div>
            <div class="col-md-4">
              <div class="author">
                <div class="img" style="background-image: url({% static 'images/person_1.webp' %});"></div>
                <div class="text">
                  <h3>Zubayer Rahaman</h3>
                  <p>Zubayer Rahaman is the creator of this site. He is considered as the most talented and smart 
                    boy in whole Bangladesh 😜😜. He is also creator of the most appreciated movie downloading telegram Bot
                    named MLWBDBOT!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container-fluid px-md-4">
      <div class="row no-gutters">
        <div class="col-md-12 blog-wrap">
          <div class="row no-gutters align-items-center">
            <div class="col-md-6 img img-blog js-fullheight" style="background-image: url({% static 'images/image_1.webp' %});">
            </div>
            <div class="col-md-6">
              <div class="text p-md-5 py-5 px-4 ftco-animate">
                <p class="meta">
                  <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 27, 2020</a>
                  <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                  <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                </p>
                <h2 class="mb-4"><a href="blog-single.html">The most talented and smartest boy in Bangladesh: Zubayer Rahaman</a>
                </h2>
                <div class="icon d-flex align-items-center">
                  <div class="img" style="background-image: url({% static 'images/person_1.webp' %});"></div>
                  <div class="position pl-3">
                    <h4 class="mb-0">Zubayer Rahaman</h4>
                    <span>Admin, TheMOST</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 blog-wrap bg-darken">
          <div class="row no-gutters align-items-center">
            <div class="col-md-6 img img-blog js-fullheight order-md-last"
              style="background-image: url({% static 'images/image_2.webp' %});">
            </div>
            <div class="col-md-6">
              <div class="text p-md-5 py-5 px-4 ftco-animate">
                <p class="meta">
                  <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 27, 2020</a>
                  <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                  <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                </p>
                <h2 class="mb-4"><a href="blog-single.html">The smartest girl in Bangladesh: Sumaia Islam</a>
                </h2>
                <div class="icon d-flex align-items-center">
                  <div class="img" style="background-image: url({% static 'images/person_2.webp' %});"></div>
                  <div class="position pl-3">
                    <h4 class="mb-0">Jamie Jonson</h4>
                    <span>Admin, TheMOST</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 blog-wrap">
          <div class="row no-gutters align-items-center">
            <div class="col-md-6 img img-blog js-fullheight" style="background-image: url({% static 'images/image_3.webp' %});">
            </div>
            <div class="col-md-6">
              <div class="text p-md-5 py-5 px-4 ftco-animate">
                <p class="meta">
                  <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 27, 2020</a>
                  <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                  <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                </p>
                <h2 class="mb-4"><a href="blog-single.html">The most idiotic boy in Bangladesh: Zubayer Rahaman</a>
                </h2>
                <div class="icon d-flex align-items-center">
                  <div class="img" style="background-image: url({% static 'images/person_3.webp' %});"></div>
                  <div class="position pl-3">
                    <h4 class="mb-0">Jamie Jonson</h4>
                    <span>CEO, Product Designer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 blog-wrap bg-darken">
          <div class="row no-gutters align-items-center">
            <div class="col-md-6 img img-blog js-fullheight order-md-last"
              style="background-image: url({% static 'images/image_5.webp' %});">
            </div>
            <div class="col-md-6">
              <div class="text p-md-5 py-5 px-4 ftco-animate">
                <p class="meta">
                  <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 27, 2020</a>
                  <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                  <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                </p>
                <h2 class="mb-4"><a href="blog-single.html">Turning a digital brand into a real world experience</a>
                </h2>
                <div class="icon d-flex align-items-center">
                  <div class="img" style="background-image: url({% static 'images/person_4.webp' %});"></div>
                  <div class="position pl-3">
                    <h4 class="mb-0">Jamie Jonson</h4>
                    <span>CEO, Product Designer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 blog-wrap">
          <div class="row no-gutters align-items-center">
            <div class="col-md-6 img img-blog js-fullheight" style="background-image: url({% static 'images/image_6.webp' %});">
            </div>
            <div class="col-md-6">
              <div class="text p-md-5 py-5 px-4 ftco-animate">
                <p class="meta">
                  <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 27, 2020</a>
                  <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                  <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                </p>
                <h2 class="mb-4"><a href="blog-single.html">Turning a digital brand into a real world experience</a>
                </h2>
                <div class="icon d-flex align-items-center">
                  <div class="img" style="background-image: url({% static 'images/person_1.webp' %});"></div>
                  <div class="position pl-3">
                    <h4 class="mb-0">Jamie Jonson</h4>
                    <span>CEO, Product Designer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 blog-wrap bg-darken">
          <div class="row no-gutters align-items-center">
            <div class="col-md-6 img img-blog js-fullheight order-md-last"
              style="background-image: url({% static 'images/image_7.webp' %});">
            </div>
            <div class="col-md-6">
              <div class="text p-md-5 py-5 px-4 ftco-animate">
                <p class="meta">
                  <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 27, 2020</a>
                  <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                  <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                </p>
                <h2 class="mb-4"><a href="blog-single.html">Turning a digital brand into a real world experience</a>
                </h2>
                <div class="icon d-flex align-items-center">
                  <div class="img" style="background-image: url({% static 'images/person_2.webp' %});"></div>
                  <div class="position pl-3">
                    <h4 class="mb-0">Jamie Jonson</h4>
                    <span>CEO, Product Designer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 blog-wrap">
          <div class="row no-gutters align-items-center">
            <div class="col-md-6 img img-blog js-fullheight" style="background-image: url({% static 'images/image_8.webp' %});">
            </div>
            <div class="col-md-6">
              <div class="text p-md-5 py-5 px-4 ftco-animate">
                <p class="meta">
                  <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 27, 2020</a>
                  <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                  <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                </p>
                <h2 class="mb-4"><a href="blog-single.html">Turning a digital brand into a real world experience</a>
                </h2>
                <div class="icon d-flex align-items-center">
                  <div class="img" style="background-image: url({% static 'images/person_3.webp' %});"></div>
                  <div class="position pl-3">
                    <h4 class="mb-0">Jamie Jonson</h4>
                    <span>CEO, Product Designer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-12 py-md-5 text-center">
          <a href="blog.html" class="btn-custom-blog">View all articles <span class="fa fa-chevron-right"></span></a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}